[Desktop Entry]
Version=1.0
Name=Typst
Comment=Typst Web App
Exec=niriland-launch-webapp https://typst.app/
Terminal=false
Type=Application
Icon=Typst
StartupNotify=true
Categories=Office;Education;
