// DMS managed files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"

// Niriland config
include "../../.local/share/niriland/configs/modules/.config/niri/config.kdl"
