// Niriland config
include "../../.local/share/niriland/configs/modules/.config/niri/config.kdl"

// DMS managed files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"

// Local overrides (user-editable, loaded after DMS includes).
include "override.d/cursor.kdl"
include "override.d/binds.kdl"
include "override.d/autostart.kdl"

// User overrides
// Include custom files below this line.
// Later includes override settings defined above.
// include "user/overrides.kdl"
